# Copy this file to .env and fill in the paths for your machine.
# .env is gitignored and will not be committed.

# Path to the COMFORT SQLite database
# Korablev, A., Olsen, A., Geophysical Institute, University of Bergen,
# Bjerknes Centre for Climate Research (2022). COMFORT Dataset [Data set].
 # NIRD RDA. https://doi.org/10.11582/2022.00039
COMFORT_DB_PATH=/path/to/comfort.sqlite

# Path to a GEBCO bathymetry NetCDF file (needed for gridding examples)
# E.g. GEBCO Compilation Group (2022). DOI: https://doi.org/10.5285/e0f0bb80-ab44-2739-e053-6c86abc0289c Gebco 2022 grid.
BATHYMETRY_PATH=/path/to/gebco_bathymetry.nc

# Path to the Longhurst provinces shapefile (https://www.marineregions.org/downloads.php, optional for 04_water_masses.py)
# Flanders Marine Institute (2009). Longhurst Provinces. Available online at https://www.marineregions.org/.
# Longhurst, A.R. (2006): Ecological Geography of the Sea. 2nd Edition. Academic Press, San Diego, 560p.
LONGHURST_SHP_PATH=/path/to/longhurst.shp

# Path to the Jenniges provinces CSV (https://zenodo.org/records/15201767, optional for 04_water_masses.py)
# Jenniges, Y.; Sonnewald, M.; Maneth, S.; Olsen, A; Koch, B.P. (2025):
# Unveiling 3D ocean biogeochemical provinces in the North Atlantic: A systematic comparison and validation of
# clustering methods, Ecological Informatics, Volume 91, 103390, ISSN 1574-9541,
# https://doi.org/10.1016/j.ecoinf.2025.103390.
JENNIGES_CSV_PATH=/path/to/cluster_set.csv

# Path to "Global Oceans and Seas" basin boundaries (optional for region-based filtering and 04_water_masses.py)
# Flanders Marine Institute (2021). Global Oceans and Seas, version 1.
# Available online at https://www.marineregions.org/. https://doi.org/10.14284/542
BASINS_SHP_PATH=/path/to/basins.shp

# Path to Fay and McKinley biomes (optional for 04_water_masses.py)
# Fay, Amanda R; McKinley, Galen A (2014): Global Ocean Biomes: Mean and time-varying
# maps (NetCDF 7.8 MB) [dataset]. PANGAEA, https://doi.org/10.1594/PANGAEA.828650,
# Supplement to: Fay, AR; McKinley, GA (2014): Global open-ocean biomes: mean and temporal variability.
# Earth System Science Data, 6(2), 273-284, https://doi.org/10.5194/essd-6-273-2014
FAY_NC_PATH=/path/to//biomes.nc
